#BAndereBenutzerAnzeigen {
    position: fixed;
    margin: auto;
    left: 0;
    right:-550px;
    top: -750px;
    bottom: 0;
    width: 253px; /* width of button */
    height: 52px;

}
#BNeueRunde {
    position: fixed;
    margin: auto;
    left: 0;
    right:-550px;
    top: -950px;
    bottom: 0;
    width: 253px; /* width of button */
    height: 52px;

}
